config.py
keystore.jks
out.txt
**.tmp
.vscode
keystore.p12
config.yml
fdroid/tmp
fdroid/repo/status
fdroid/metadata/**/phoneScreenshots

metascoop/metascoop

fdroid/repo/*.apk
fdroid/metadata/**.yml
fdroid/repo/index-v1.jar
fdroid/repo/index-v1.json
fdroid/repo/index.css
fdroid/repo/index.html
fdroid/repo/index.jar
fdroid/repo/index.png
fdroid/repo/index.xml
fdroid/metadata
fdroid/repo/categories.txt

fdroid/repo/icons:
icon.png
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-120:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-160:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-240:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-320:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-480:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/icons-640:
io.github.xarantolus.notality.1.png
io.github.xarantolus.notality.10.png
io.github.xarantolus.notality.2.png
io.github.xarantolus.notality.3.png
io.github.xarantolus.notality.4.png
io.github.xarantolus.notality.5.png
io.github.xarantolus.notality.6.png
io.github.xarantolus.notality.7.png
io.github.xarantolus.notality.8.png
io.github.xarantolus.notality.9.png

fdroid/repo/io.github.xarantolus.notality:
en-US

fdroid/repo/io.github.xarantolus.rockit:
en-US
apps.yaml
